<h1>Battle!</h1>
<h2>Sign in to play</h2>
<h3>Who will be entering the Saffron City Gym?</h3>
<div> 
</div>
<form action="/names" method="post">
  <input type="text" placeholder="Enter player 1 here" name="player1_name">
  <input type="text" placeholder="Enter player 2 here" name="player2_name">
  <input type="submit" value="submit">
</form>
